@import url(https://fonts.googleapis.com/css?family=Cormorant+Garamond);
@import url(https://fonts.googleapis.com/css?family=Cardo);

body {
    background: #efeee9;
    margin: 0 auto;
    font-family: 'Cormorant Garamond';
}

.header-line {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

header {
    height: 4.0vw;
    width: 100%;
    margin: auto;
    background-color: #000000;
    display: flex;
    justify-content: center;
}

.logo {
    font-size: 2.3vw;
    vertical-align: middle;
    color: white;
    padding-right: 5vw;
    border-right: 2px solid #ffffff;
}

.button_add_post {
    margin: 0 0 0 2vw;
    text-decoration: none;
    color: white;
    font-size: 1.2vw;
}

.button_exit {
    text-decoration: none;
    color: white;
    font-size: 1.2vw;
    margin: 0 3.5vw 0 0;
}

main {
    max-width: 100%;
    margin: 0 auto;
}

body.sign-up {
    background: #ffffff;
}

.pictures_space {
    display: flex;
    border-bottom: solid 4vh #000000;
    background-color: #000000;
}

.pictures {
    width: 100%;
    height: 100%;
}

.parent_user {
    text-align: center;
    background-color: #e1ddd1;
    border-bottom: solid 4vh #efeee9;
}

.parent_filter {
    display: flex;
    justify-content: center;
}

.user_name_photo {
    width: 15%;
    margin-top: 1vw;
}

.user {
    display: inline-block;
    border-bottom: 1px solid #c1b8ac;
    width: 95%;
    margin-top: 1.5vw;
    box-shadow: 0 0 11px 1.5px black;
}

.user_name_text {
    font-size: 1.2vw;
    font-family: 'Cardo';
}

.user_text {
    text-shadow: 0px 0px 12px #9e9383;
    font-size: 1.2vw;
    font-family: 'Cardo';
}

.user_name_text_post {
    color: #ffffff;
    font-size: 1.2vw;
}

.filter {
    display: flex;
    align-items: center;
    width: 95%;
    height: 4.0vw;
}

#button_search {
    background: #000000;
    color: #ffffff;
    font-family: 'Cormorant Garamond';
    border: none;
    font-size: 1.2vw;
    margin-right: 3.9vw;
}

.user_panel {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;;
    width: 100%;
    height: 4.5vw;
}

.user_name_photo_post {
    width: 5vw;
    height: auto;
    vertical-align: middle;
}

.link_edit, .link_edit_delete, .link_edit_like {
    text-decoration: none;
}

.button_edit, .button_edit_delete {
    width: 3.9vw;
    height: 3.9vw;
    background-color: #000000;
}

a {
    cursor: pointer;
    padding: 0px;
    border: 0px;
}

.button_edit_like {
    text-decoration: none;
    width: 3.9vw;
    height: 3.9vw;
    background-color: #000000;
}

.lenta {
    display: inline-block;
    float: left;
    text-align: center;
    margin: 3vw 0 0 0;
}

.photopost {
    display: flex;
    flex-direction: row;
    margin-bottom: 4vh;
}

.photo {
    width: 100%;
}

.user_photopost {
    width: 65%;
}

.comments {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.button_add_post.hide, .text.hide, .link_edit_like.hide {
    display: none;
}

.link_edit.hide, .user.hide, .link_edit_delete.hide {
    display: none;
}

#list_comments {
    background-color: #000000;
    min-height: 64.4vw;
}

.comment_background {
    background-color: #000000;
}

.comments_overflow {
    overflow: scroll;
    overflow-x: hidden;
    max-height: 65vw;
}

.user_comments_photo {
    vertical-align: middle;
    width: 20%;
}

.user_name_comments {
    font-size: 1.0vw;
    margin: 0;
    color: #ffffff;
}

.comment {
    font-size: 1.0vw;
    margin-left: 5vw;
    color: #ffffff;
}

.description {
    background: #000000;
}

.description-text {
    font-size: 1.0vw;
    margin: 0;
    color: #ffffff;
}

.likes_text {
    font-size: 1.0vw;
    margin: 0;
    color: #ffffff;
}

.hashTag-text, .hashTag-text-edit {
    font-size: 1.0vw;
    margin: 0;
    color: #ffffff;
}

.description-text, .description-text-edit {
    font-size: 1.0vw;
    margin: 0;
    color: #ffffff;
}

.text {
    border: none;
    margin: 0 auto;
    font-family: 'Cormorant Garamond';
    height: 3.0vw;
    font-size: 1.0vw;
    width: 100%;
    padding: 0;
}

.button_add_filter {
    background: #ffffff;
    border: none;
    font-size: 0.9vw;
}

.add_text {
    border: none;
    font-family: 'Cormorant Garamond';
    height: 2.3vw;
    font-size: 1.0vw;
}

.parent_input {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer_line {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    height: 4.0vw;
}

.footer_text {
    color: #969183;
    font-size: 1.0vw;
}

.side_footer {
    display: flex;
    justify-content: space-between;
    width: 25%;
}

.footer_logo {
    width: 50%;
    color: #ffffff;
    font-size: 3vw;
    vertical-align: middle;
}

.button_add_more {
    text-decoration: none;
    outline: none;
    vertical-align: middle;
}

.add_more {
    width: 2vw;
    height: 2vw;
}

.load_more {
    text-align: center;
    background-color: #d4d1c4;

}

@media (min-width: 700px) {
    main {
        width: 55%;
    }

    main.sign-up {
        width: 100%;
        background: #ffffff;
    }

    .header-line.sign-up {
        width: 100%;
    }

    .header-line {
        width: 55%;
    }

    .comments_overflow {
        overflow: scroll;
        overflow-x: hidden;
        max-height: 35.45vw
    }

    #list_comments {
        min-height: 35.45vw
    }
}

::-webkit-scrollbar {
    width: 1vw;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
}

.date_post {
    font-size: 0.7vw;
    margin: 0;
}

.select_text {
    width: 12vw;
    border: none;
    font-family: 'Cormorant Garamond';
    height: 2.43vw;
    font-size: 1.0vw;
}

.post.hide {
    display: none;
}

.comments_text {
    border-bottom: 1px solid #ffffff;
}

select {
    -webkit-appearance: none;
}

.all_posts {
    display: flex;
    flex-direction: column;
    background-color: #e1ddd1;
}

.one_post {
    max-heihgt: 500px;
}

.message-no-posts {
    text-align: center;
    margin-top: 2.5vw;
    margin-bottom: 2.5vw;
    border-bottom: solid 4vh #efeee9;
}

.button_add_more.hide {
    display: none;
}

.logo.sign-up {
    border: none;
    margin-left: 2vw;
}

.log-in {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 84vh;
    align-items: center;
    text-align: center;
    width: 95%;
}

header.sign-up {
    height: 4.0vw;
}

.block-image-sign-up {
    display: flex;
    width: 45%;
}

.block-inputs-sign-up {
    width: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.inputs {
    padding-bottom: 9.5vw;
    padding-top: 9.5vw;
    border-top: 1px solid #52534e;
    border-bottom: 1px solid #52534e;
    width: 25vw;
}

.footer_line.sign-up {
    height: 4.0vw;
}

.image-sign-up {
    width: 100%;
    height: 100%;
}

.block-sign-up {
    margin-top: 3vh;
}

.button-sign-up {
    background: #000000;
    color: #ffffff;
    font-family: 'Cormorant Garamond';
    border: none;
    font-size: 1.2vw;
}

#username {
    font-size: 1vw;
    height: 2vw;
    width: 13vw;
}

#password {
    font-size: 1vw;
    height: 2vw;
    width: 13vw;
}

.text-sign-up {
    font-size: 1.0vw;
    margin-bottom: auto;
    margin-top: 1.5vw;
    margin-right: 7vw;
}

.error-sign-up {
    color: #ff0000;
    font-size: 1vw;
}

.pictures_space.hide, .photo_line.hide, .load_more.hide {
    display: none;
}

.user_panel.page-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    width: 100%;
    height: 4.5vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
}

main.edit {
    width: 100%;
    background: white;
}

.post.page-edit {
    display: flex;
    flex-direction: row;
}

.button-edit-page {
    background: #000000;
    color: #ffffff;
    font-family: 'Cormorant Garamond';
    border: none;
    font-size: 1.2vw;
    width: 50%;
    height: 2vw;
}

.block-edit {
    width: 50%;
    display: flex;
    justify-content: center;
}

.user-column-edit {
    width: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.space-column {
    width: 25%;
}

.post-column {
    width: 50%;
}

.user-photo-edit {
    width: 55%;
    margin-top: 2vw;
}

.parent-user-edit {
    width: 60%;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.user-text-edit {
    text-shadow: 0px 0px 12px #9e9383;
    font-size: 0.85vw;
    font-family: 'Cardo';
}

.user-name-text-edit {
    font-size: 1.1vw;
    font-family: 'Cardo';
    margin-bottom: 0.0vw;
}