 #header {
    width: 100%;
	hight: 10%;
	margin: auto;
    }

 table.header  {
    width:  100%; 
   }
table.header td {
   background: #000000;
    vertical-align: center;
   }
   td.left_space{
   width: 13%;
   }
   td.leftcol{
   width: 13%;
   }
   img.logo{
   width: 20vmin;
  
   }
   td.middlecol{
   width:48%;
   }

	a.button_add_post {
	font-size: 2.5vmin;
	 color: #ffffff;
	margin-left: 5%;
   }
   td.rightcol{
   width: 13%;
   min-width: 130px;
   }
   a.button_exit { 
   font-size: 2.5vmin;
    color: #ffffff;
   vertial-align:center;
   }
   td.right_space{
   width: 13%;
   }
  
   
   
   table.middle{
   width: 100%;
   border-collapse: collapse; /* Óáèðàåì äâîéíûå ëèíèè ìåæäó ÿ÷åéêàìè */
   border: 2px solid white;
   }
   table.middle td{
   vertical-align: top;
    text-align: left; /* Âûðàâíèâàíèå ïî ëåâîìó êðàþ */
   }
   td.left_space_middle{
   width: 13%;
   }
	td.user{
	padding: 3px; /* Ïîëÿ âîêðóã ñîäåðæèìîãî òàáëèöû */
    border: 1px solid maroon; /* Ïàðàìåòðû ðàìêè */
	border-color: #858181;
	width: 13%;
	}
	font.user_text{
	font-size:2vmin;
	}
	
	img.user_name_photo{
	vertical-align: middle;
	width: 35%;
	height: auto;
	}

	font.user_name_text_left{
	font-size: 1.9vmin;
	}

	td.lenta{
	padding: 3px; /* Ïîëÿ âîêðóã ñîäåðæèìîãî òàáëèöû */
    border: 1px solid maroon; /* Ïàðàìåòðû ðàìêè */
	border-color: #858181;
	width: 48%;
	
	}
	td.filter{
	padding: 3px; /* Ïîëÿ âîêðóã ñîäåðæèìîãî òàáëèöû */
    border: 1px solid maroon; /* Ïàðàìåòðû ðàìêè */
	border-color: #858181;
	width: 13%;
	}
	td.right_space_middle{
   width:13%;
   }

	table.user_panel {
    width:  100%; 
	border-collapse: collapse;
   }
	table.user_panel td {
	 border: 0px;
   background: #000000;
    vertical-align: center;
   }
   td.user_name{
   width: 30%;
   vertical-align: center;
   }
   font.user_name_text{
	font-size: 1.9vmin;
	color: #ffffff;
	}

	img.button_edit{
	 width: 13%;
	  height: auto;
	   border: 0;
	float: right;
	}
	
	img.user_photopost{
	width: 100%;
	height: auto;
	}

   td.buttons{
   width: 70%;
   }

   
   table.post{
	width:  100%; 
	border-collapse: collapse;
	border: 2px solid white; 
   }

   .post_size{
   min-width:200px;
   }
   table.post td{
   vertical-align: top;
   border: 1px solid maroon;
   border-color: #858181;
   }
   td.photo{
   width: 65%;
   }
   font.date_text{
   font-size: 1.5vmin;
   }
    .description{
   width:100%;
    overflow: scroll;
	overflow-x: hidden;
   background: #000000;
   height:100px;
   }

   

   td.comments{
   background: #000000;
   width:35%;
   }

   hr.white_line{
   border: none;
   background-color: #ffffff;
   height: 1px;
   }
   .comments_text {
   overflow: scroll;
	overflow-x: hidden;
	height:50vmin;
	}

	img.user_comments{
	vertical-align: middle;
	width: 20%;
	height:auto;
	}

	input.text{
	width:100%;
	resize: none;
	wrap: hard;
	cols: 20;
	rows: 3;
	 onblur: this.className='text';
	}

	input.add_text{
	width: 80%;
	height: 4vmin;
	vertical-align: center;
	background-color: #f0eeee;
	border: none;
	margin: 0 0 0 10%;
	wrap: hard;
	cols: 20;
	rows: 3;
	onblur: this.className='text';
	}

    input.button_search{
	background: #000000;
	color: #ffffff;
	font-size: 2.3vmin;
	font-family: 'Times New Roman';
	border: none;
	
	}

	.button_search_place{
	text-align: center;
	}

	input.button_add_filter{
		background:  #ffffff;
		border: none;
		font-size: 1.5vmin;
		margin: 0 18% 0 82%;
	}
   
   select.hashtag{
   margin: 0 0 0 17%;
   width: 60%;
   }

   input.button_load_more{
	background: #000000;
	color: #ffffff;
	font-size: 2.3vmin;
	font-family: 'Times New Roman';
	border: none;
	float: right;
	}



   font.filter_text{
   font-size: 2.7vmin;
   }

   hr.line_gray{
   align="center";
   width="80%";
   border = "none";
   background-color="#858181";
   height: 1px
   }

   font.filter_criteria_text{
   font-size: 2.5vmin;
   margin: 0px 0px  0px 10%;
   }

 footer {/* ïîäâàë ñàéòà */
	width:100%;
	position:absolute;
	bottom: 0;

   }
 table.footer  {
    width:  100%; 
	
    color: white;
	border-collapse: collapse;
   }
   table.footer td {
   background: #000000;
   border: 0px;
   vertical-align: center;
   }
   font.footer_text{
   font-size:2vmin;
   }
   td.name{
   width: 13%;
   }
   td.groupe{
   width:13%;
   }
   td.logotip{
    width: 48%;
 
   }
   img.logotip2{
   width: 20vmin;
   higth: 20vmin;
   }
   td.email{
   width:13%;
   }
   td.data_of_change{
   width:13%;
   }
   